body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.logo {
    height: 101px;
    width: 300px;
    margin-bottom: 40px;
}

#trivia {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 550px;
    padding: 10px;
}

.main {
    margin-left: 60px;
}

.changing {
    margin-left: auto;
    margin-right: auto;
}

.pictureSize {
    height: 200px;
    width: 370px;
}

